name: First Workflow Test
on: workflow_dispatch
jobs:
  first_job:
    runs-on: ubuntu-latest
    steps:
      - name: Print greeting
        run: echo "Hello"
      - name: Print done
        run: echo "Done - bye bye"
